<h1>The Life and Times of Rupert the Fox</h1>
<p>Once upon a time, there was a {{beginning.animal}} named {{beginning.name}}. He was only {{beginning.age}}, but he loved to travel.</p>
<div>
    <a href="/middle">Middle</a>
</div>