<h1>Middle</h1>
<p>One day, Rupert decided to visit {{middle.place}}. So, he hopped on a {{middle.travelVehicle}} to get there. Once he got there, he decided to stay for at least {{middle.yearsToStay}} years.</p>
<div>
    <a href="/beginning">Beginning</a>
</div>
<div>
    <a href="/end">End</a>
</div>